/* 여기는 UI - GNB 담당 코드입니다. */
.ui-gnb {
    background-color: #FDF6E9;
    border-bottom: 1px solid rgb(173, 176, 179);
    border-radius: 0px;
    /* margin-top: 10px; */
    /* align-self: center; */
}
.ui-gnb-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: -10px;
    padding: 24px 32px 24px 32px;
    align-items: center;
}
.ui-gnb-list li {
    display: inline;
}
.ui-gnb-list a {
    color: rgb(60, 59, 61);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}
.ui-gnb-list a:hover {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.gnb-heading {
    font-weight: 700;
    font-size: 20px;
}
.logo {
    height: 32px;
}
.bold {
    font-weight: 700;
}